<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>about me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p style="text-align: justify;">
        Hi, I'm Aira. I am an IT Officer at the  <a href="https://philsa.gov.ph/" style="color: #fff;">Philippine Space Agency (PhilSA)</a>. I help keep our systems running smoothly, support mission-critical software, and ensure that data flows seamlessly for space operations. 🚀  
      </p>
      <p style="text-align: justify;">
        I used to do plenty of research on optimizing an HPC cluster, with the ultimate goal of developing malleable job scheduling systems. Now, I'm dedicated to building 👷🏻‍♀️ the PhilSA's HPC from scratch, so benchmarking and optimizations might need to take the backseat for now. I'm also highly involved in the activities leading to the establishment of the Copernicus National Mirror Site for the <a href="https://copphil.philsa.gov.ph" style="color: #fff;">National Copernicus Capacity Support Action Programme for the Philippines (CopPhil)</a>. 
      </p>
      <p style="text-align: justify;">Outside infrastructure-related activities, I dabble in DevOps, cybersecurity, and the occasional <a href="https://www.instagram.com/erangvee/" style="color: #fff;">hobby of digital painting</a> 🎨.
      </p>
    </div>
  </div>
</section>


<style>

  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .container {
      padding: 0 30px; /* Reduce padding on mobile */
    }

    p {
      font-size: 16px; /* Slightly smaller text on mobile */
    }
  }
</style>
