<section id="published-work-accordion">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Published Work</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
  
          <div class="accordion" id="publicationsAccordion">
  
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Publication Title 1
                  </button>
                </h2>
              </div>
  
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#publicationsAccordion">
                <div class="card-body">
                  <img src="img/portfolio/cabin.png" class="img-responsive" alt="Publication 1 Thumbnail" style="max-width: 200px; float: left; margin-right: 20px;">
                  <p>
                    <strong>Authors:</strong> Your Name, Co-author 1, Co-author 2
                    <br>
                    <strong>Published In:</strong> Journal/Conference Name
                    <br>
                    <strong>Year:</strong> 2023
                    <br>
                    <strong>Abstract:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    <br>
                    <a href="publication1.pdf" class="btn btn-primary">Read More</a>
                  </p>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
  
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Publication Title 2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#publicationsAccordion">
                <div class="card-body">
                  <img src="img/portfolio/cake.png" class="img-responsive" alt="Publication 2 Thumbnail" style="max-width: 200px; float: left; margin-right: 20px;">
                  <p>
                    <strong>Authors:</strong> Your Name, Another Co-author
                    <br>
                    <strong>Published In:</strong> Another Journal
                    <br>
                    <strong>Year:</strong> 2022
                    <br>
                    <strong>Abstract:</strong> Another abstract goes here. More details about the publication.
                    <br>
                    <a href="publication2.pdf" class="btn btn-primary">Read More</a>
                  </p>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
  
            </div>
  
        </div>
      </div>
    </div>
  </section>